.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.toolbar button{
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 1em;
    transition: 0.3s all;
    font-weight: bold;
  }
  .toolbar button:hover{
    color:var(--text-color);
  }
  .button-text{
    color: var(--border-color);
  }
  .active{
    color: var(--active-color);
  }
  .todos-length-text{
    color: var(--border-color);
    font-size: 16px;
  }

  .filters{
    display: none;
  }
  @media(min-width:576px){
    .filters{
      display: block;
    }
  }